
.Test1.row {
  width: 100%;
  height: 140px;  
  box-sizing: border-box;

  background-color: #444357;

  line-height: 140px;
  text-align: center;
}

.Test1.row > div {
  border: solid 1px #dddddd;
}

.test-image {
  width: 80%;
  height: 80%;
  border: solid 1px black;

  margin: auto;
  vertical-align: middle;
}